topbar {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

.topbar {
  width: 100%;
  border-bottom: 1px solid #efefef;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  padding: 12px 24px;
  box-sizing: border-box;
}

.brand {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.icon-container mat-icon {
  color: #374151;
  font-size: 24px;
}

.title-group {
  display: flex;
  flex-direction: column;
}

.main-title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: #111827;
}

.subtitle {
  font-size: 0.8rem;
  color: #6b7280;
}

.new-conv-btn {
  border-radius: 12px;
  text-transform: none;
  font-weight: 500;
  color: #374151 !important;
  border-color: #f0f2fb !important;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
