<div class="topbar">
  <div class="topbar-container">
    <div class="brand">
      <img 
        class="logo-image"
        src="../../assets/images/logo.png" 
        alt="small circle logo with gold four-pointed start surrounded by green background and gold border">      
      <div class="title-group">
        <h1 class="main-title">votarIA</h1>
        <span class="subtitle">Ask about any Brazilian politician's platform</span>
      </div>
    </div>
    <button class="icon-container">
      <mat-icon>dark_mode</mat-icon>
    </button>
  </div>
</div>