
.prompt {
  width: 100%;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  width: 100%;
  max-width: 1100px;
  padding: 0 24px;
}

::ng-deep .full-width-input .mdc-notched-outline__leading,
::ng-deep .full-width-input .mdc-notched-outline__notch,
::ng-deep .full-width-input .mdc-notched-outline__trailing {
  border: none !important;
}

::ng-deep .full-width-input .mat-mdc-text-field-wrapper {
background-color: #ffffff !important;
  border: 1px solid #eee !important; 
  border-radius: 28px !important;
  font-size: 14px;
  box-shadow: var(--box-shadow);
}

::ng-deep .full-width-input.mat-focused .mat-mdc-text-field-wrapper {
  border: 1px solid #ccc !important; 
}

::ng-deep .full-width-input .mat-mdc-form-field-flex {
  padding: 0 16px !important;
}

::ng-deep .full-width-input .mdc-notched-outline {
  z-index: 1;
}

.full-width-input {
  width: 100%;
}

.send-btn {
  background-color: #f0f4f9 !important;
  color: #6b7280 !important;
  border-radius: 50% !important;
  margin-right: 10px;
}

.send-btn:hover {
  background-color: #f0f4f9 !important;
  color: rgb(11, 87, 208) !important;
  
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: flex !important;
  justify-content: center !important; 
  width: 100%;
}

::ng-deep .mat-mdc-form-field-hint {
  text-align: center !important;
  width: 100%;
  color: #9ca3af !important; 
  font-size: 11px !important;
  margin-top: 4px;
}