<div class="prompt">
    <div class="input-wrapper">
        <mat-form-field appearance="outline" class="full-width-input">
            <input matInput 
                   placeholder="Ask about a politician's platform..."
                   [(ngModel)]="value"
                   (keydown)="onKeydown($event)">
            
            @if (!streaming) {
                <button mat-icon-button matSuffix class="send-btn" (click)="submit()" [disabled]="!value || !value.trim()">
                    <mat-icon>send</mat-icon>
                </button>
            } @else{
                <button mat-icon-button matSuffix class="loading-btn" (click)="cancel.emit()">
                <mat-icon class="stop-streaming">stop</mat-icon>
            </button>
            }
            <mat-hint>VotarIA can make mistakes. Check important info.</mat-hint>
        </mat-form-field>
    </div>
</div>