<div class="app-container">
  <app-sidebar></app-sidebar>
  <div class="main-container">
    <app-topbar></app-topbar>
    <main class="chat-area">
      <div class="chat-column">
        @for (msg of messages; track $index) {
          <div class="message-bubble" 
          [class.ai-message]="msg.from === 'ai'" 
          [class.user-message]="msg.from === 'user'">
          @if (streaming && msg.from === 'ai' && msg.text.length === 0) {
            <div class="icon-loader">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <linearGradient id="line-gradient" x1="0%" y1="0%" x2="100%0">
                    <stop offset="0%" stop-color="#2F5E3E" />
                    <stop offset="100%" stop-color="#F2D35E" />
                  </linearGradient>
                </defs>
                
                <path class="icon-path" 
                  d="M12 2C12 2 12.5 7.5 15.5 10.5C18.5 13.5 24 14 24 14C24 14 18.5 14.5 15.5 17.5C12.5 20.5 12 26 12 26C12 26 11.5 20.5 8.5 17.5C5.5 14.5 0 14 0 14C0 14 5.5 13.5 8.5 10.5C11.5 7.5 12 2 12 2Z" 
                  stroke="url(#line-gradient)" 
                  stroke-width="1.2" 
                  fill="rgba(47, 94, 62, 0.1)" />
              </svg>
            </div>
          }
          <p>{{ msg.text }}</p>
        </div>
      }
    </div>
  </main>
  <app-prompt (send)="handleSend($event)"></app-prompt>
</div>
</div>